.root {
    min-width: 25px;
    border-radius: 4px;

    cursor: pointer;
}

.l {
    font-size: 20px;
    min-width: 30px;
    min-height: 30px;
}
.m {
    font-size: 16px;
    min-width: 25px;
    min-height: 25px;
}
.s {
    font-size: 12px;
    min-width: 20px;
    min-height: 20px;
}

.light {
    background-color: white;
    border: 1px solid grey;
    color: black;
}

.dark {
    background-color: grey;
    border: 1px solid black;
    color: white;
}